.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.inl {
        display: inline ;
}

.icon {

    height:150%;
    width: auto;
    margin-top: 0%;
    padding-top: 0%;
}

.icon2 {
    width: 30px;
    height: 30px;
}

.icon3 {
    width: 100%;
    height: auto;
}

.right {
    align-content: right;
}

.left {
    align-content: : left;
}
